doctype html
html
  head
    title=""
    link(rel='stylesheet', href='css/style.css')
  body
    h1= title
    main
      each project in data.projects
        section
          h1.logo
            span.sp1= "Pre"
            span.sp2= "Post"
            span.sp3= "Print"
          p.url= project.website
          h2= project.name
          p.bio= project.bio
            if project.p1name
              section.project.p1
                div.text
                  h3= project.p1name
                  p= project.p1desc
                img(src=project.p1img)
            if project.p2name
              section.project.p2
                div.text
                  h3= project.p2name
                  p= project.p2desc
                img(src=project.p2img)
            if project.p1name
              section.project.p3
                div.text
                  h3= project.p3name
                  p= project.p3desc
                img(src=project.p3img)
  script.
    var img = document.querySelectorAll('img');
    console.log('img')
    for (var i = 0; i < img.length; i++) {
      var ci = img[i];
      var iw = ci.naturalWidth;
      var ih = ci.naturalHeight;
      //- var fig = ci.parentNode;
      var fig = ci;
      if (iw <= ih) {
        fig.classList.add('portrait');
      }else {
        fig.classList.add('landscape');
      }
    }
